{% extends 'base.html' %}
{% block head %}
	<script src="https://kit.fontawesome.com/1a25e9523c.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
	<div standings class="bg-darkcompliment p-5 m-auto rounded-md mb-2">
		<div season-select class="flex justify-between">
			<p class="text-xl">NBA Season Standings</p>
			<div select class="">
				<label for="">Season</label>
				<select class="text-black p-1 bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 name="" id="">
					<option value="2023-24">2023-24</option>
				</select>
			</div>
		</div>
	</div>
	<div table class="bg-darkcompliment pb-4 m-auto rounded-md text-gray-300">		
		<div class="grid grid-cols-7 text-xs font-bold border border-gray-600 bg-gray-600 pt-2 pb-2 mb-2 rounded-t-md justify-items-center">
			<div class="">TEAM</div>
			<div>W</div>
			<div>L</div>
			<div>WIN%</div>
			<div>GB</div>
			<div>LAST 10</div>
			<div>STREAK</div>
		</div>
		<div standings class="flex flex-col">
			{% for team in teams %}
			<div indiv-teams class="grid grid-cols-7 justify-items-center pb-1 pt-1 hover:bg-gray-800 justify-center transition hover:delay-75ms ease-in-out">	
				<p class=""><span class="text-gray-400">{{team['rank']}}</span> <a class="hover:text-blue-400 transition hover:delay-75ms ease-in-out" href="">{{ team['name'] }}</a></p>
				<p>{{ team['win'] }}</p>
				<p>{{ team['loss'] }}</p>
				<p>{{ team['percentage'] }}</p>
				<p>{{ team['gb'] }}</p>
				<p>{{ team['last10'] }}</p>
				<p>{{ team['strk'] }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}